.major {
    background-color: #FFFF99;
}
.completed .major {
    background-color: #ffffe5;
}


.support {
    background-color: #FFCC99;
}
.completed .support {
    background-color: #fff2e5;
}


.concentration {
    background-color: #FF99CC;
}
.completed .concentration {
    background-color: #ffe5f2;
}


.general-ed {
    background-color: #CCFFCC;
}
.completed .general-ed {
    background-color: #e5ffe5;
}


.free-elective {
    background-color: #CCFFFF;
}
.completed .free-elective {
    background-color: #f2ffff;
}


.minor {
    background-color: #CC99FF;
}
.completed .minor {
    background-color: #f2e5ff;
}


.ge-text {
    color: #00366C;
}

.prereq-text {
    color: #047440;
}
