.major {
    background-color: #FFFF99;
}

.support {
    background-color: #FFCC99;
}

.concentration {
    background-color: #FF99CC;
}

.general-ed {
    background-color: #CCFFCC;
}

.free-elective {
    background-color: #CCFFFF;
}

.minor {
    background-color: #CC99FF;
}

.major-completed {
    background-color: #c2c270;
}

.support-completed {
    background-color: #c29970;
}

.concentration-completed {
    background-color: #c27099;
}

.general-ed-completed {
    background-color: #70c270;
}

.free-elective-completed {
    background-color: #70c2c2;
}

.minor-completed {
    background-color: #9970c2;
}
