.major {
    background-color: #FFFF99;
}

.support {
    background-color: #FFCC99;
}

.concentration {
    background-color: #FF99CC;
}

.general-ed {
    background-color: #CCFFCC;
}

.free-elective {
    background-color: #CCFFFF;
}

.eb {
    background-color: #ff3399;
}
